aiogram==3.30.0
web3==7.16.0
tronpy==0.6.2
mnemonic==0.21
cryptography==44.0.2
python-dotenv==1.0.1
aiofiles==25.1.0
bip32==5.0.0
eth-account==0.13.7
aiohttp==3.14.3
gspread==6.2.1
google-auth-oauthlib==1.4.0
google-auth==2.56.2